* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #F6F6FE;
	font-family: 'Open Sans', sans-serif;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.contenedor {
	max-width: 1000px;
	width: 90%;
	margin: 0 auto;
}

.card {
	background: #fff;
	border-radius: 15px;
	padding: 20px;
	display: flex;
	align-items: center;
	position: relative;
	margin-bottom: 50px;
}

.card__thumbnail {
	width: 650px;
	height: 200px;	
	margin-right: 20px;
	border-radius: 10px;
	overflow: hidden;
	display: inline-block;
}

.card__image {
	width: 100%;
}

.card__title {
	font-family: 'Raleway',sans-serif;
	font-size: 30px;
	font-weight: normal;
	margin-bottom: 20px;
}

.card__enlace {
	color: #000;
}

.card__extracto {
	line-height: 28px;
	color: #6D6D6D;
	margin-bottom: 20px;
}

